@font-face {
    font-family: 'zpix'; /* Możesz zmienić nazwę na dowolną, której chcesz użyć */
    src: url('zpix.ttf') format('truetype'); /* Ścieżka do pliku czcionki */
    font-weight: normal; /* Możesz dostosować, jeśli masz różne wagi */
    font-style: normal; /* Możesz ustawić na 'italic', jeśli to potrzebne */
}
*{
    cursor: url('kursor.png') 16 16, auto;
}
body{
    padding: 0%;
    margin: 0%;
    border: 0%;
    background-image: url('tlo2.png');
    background-repeat: no-repeat;
}
#container{
    width: 82%;
    height: 907px;
    margin-left: 9%;
    border: solid 1px red;
}
